<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

  
  <div id="index">
    <h3>Bio</h3>
    <article>
      <p > I'm a PhD student in the Department of Computer Science and Engineering, Texas A&M University since 2012. My advisor is <a href="http://faculty.cs.tamu.edu/stoleru/" target="_blank">Prof. Radu Stoleru</a>. My research interests are in the areas of delay tolerant networks, opportunistic social networks. I received my B.E. degree from Department of Automation, Tsinghua University in 2012.</p>
    </article>
  
  
    <h3>Education</h3>
    <article>
      <p> <em>Ph.D.</em> student in Computer Engineering </p>
      <p> Texas A&M University, College Station, US</p>
      <p> September 2012 - Present </p>
    </article>
    <article>
      <p> <em> Bechelor of Engineering</em> in Automation </p>
      <p> Tsinghua University, Beijing, China</p>
      <p> August 2008 - July 2012 </p>
    </article>
      
    <h3>Publications</h3>
    <article>
    <ul>
    <li> <strong>Chen Yang</strong>, and Radu Stoleru. "Hybrid Routing in Wireless Networks with Diverse Connectivity." <em>In Proceedings of the 16th ACM International Symposium on Mobile Ad Hoc Networking and Computing (MobiHoc '15)</em>   (accepted) </li>

      <li> <strong>Chen Yang</strong>, and Radu Stoleru. "On Balancing the Energy Consumption of Routing Protocols for Opportunistic Social Networks." <em>Performance Computing and Communications Conference (IPCCC), 2015 IEEE 34th International Conference on.</em> IEEE, 2015. (accepted) </li>

      
      <li> Subhajit Mandal, <strong>Chen Yang</strong>, Ala Altaweel, and Radu Stoleru. "An Efficient Pairwise Key Establishment Scheme for Ad-hoc Mobile Clouds." <em>Wireless and Mobile Computing, Networking and Communications (WiMob), 2015 IEEE 11th International Conference on.</em> IEEE, 2015. </li>

      <li> <strong>Chen Yang</strong>, and Radu Stoleru. "Routing protocol-independent Contact Optimization for opportunistic social networks." <em>Wireless and Mobile Computing, Networking and Communications (WiMob), 2014 IEEE 10th International Conference on.</em> IEEE, 2014. </li>

      <li> Myounggyu Won, <strong>Chen Yang</strong>, Wei Zhou, and Radu Stoleru. "Energy efficient multi-channel media access control for dense wireless ad hoc and sensor networks." <em>Wireless networks</em> 19.7 (2013): 1537-1551. </li>
    </ul>
    </article>

    <h3>Teaching Experience</h3>
    <article>
    <ul>
      <li> Teaching assistant, CSCE 121 Introduction to Program Design & Concepts, Fall' 12 </li>
      <li> Teaching assistant, CSCE 221 Data Structures and Algorithms, Spring' 13 </li>
      <li> Teaching assistant, CSCE 464 Wireless and Mobile Systems, Fall' 13, Fall' 15 </li>
    </ul>
    </article>
  
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
